@import "./_variables.scss";
body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $text-color;
  @include gradient-bg($background-gradient);
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
  font-weight: 600;
}