// Color variables
$color1: #3B82F6;
$color2: #8B5CF6;
$color3: #FB923C;
$color4: #F472B6;
$color4: #F3F4F6;
$color5: #FFFFFF;

// Gradients
$primary-gradient: linear-gradient(to right, $color1, $color2);
$secondary-gradient: linear-gradient(90deg, $color3, $color4);
$background-gradient: linear-gradient(180deg, $color4, $color5);

// Typography
$font-family-base: 'Inter', sans-serif;
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-medium: 18px;
$font-size-large: 20px;
$font-size-xlarge: 22px;
$font-size-xxlarge: 24px;
$font-size-xxxlarge: 32px;

$heading-color: #111827;
$text-color: #374151;
